

<!DOCTYPE html>
<html lang="en" dir="ltr">

<% include .header %>

<body>
  <h1>Profile edit form</h1>
  <form action="/profile" method="post" enctype="multipart/form-data">
    <input type="file" name="profile_image">
    <input type="text" name="profile_name">
    <input type="submit" value="Ladda upp profil">
  </form>
</body>

</html>
