<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Profile: <%= profile_title %></title>
</head>

<body>
  <div class="namePic">
    <h1><%= profile_name %></h1>
    <img src="<%= profile_image %>" alt="Profile picture" style="width: 200px; height: 200px; border: 2px dashed red;">
  </div>
</body>

</html>
